article{
	background-color: green;
	font-size: 23px;
	color:red;
	margin-left: 50px;
}
header{
	color: yellow;
	background-color:orange;
	font-size:30px;
	margin-top: 50px;
}
footer{
	color: red;
	background-color:blue;
	font-size:11px;
	margin-right: 24px;
}
#past-section{
	color:purple;
}
#future-section{
	color:teal;
}
.section-header{
	color:blue;
}
.aside-header{
	background-color:orange;
}