<!DOCTYPE html>

<html>
<head>  
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/YourChoice">Your Choice</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Contact">Contact</a>
            </li>
          </ul>
      
        </nav>
        
        <title>Contact</title>
<body>
    <a href="https://bitbucket.org/Daemon1307/">Bitbucket</a><br>
    <a href="https://github.com/Dradraen">GitHub</a><br>
    <a href="https://www.linkedin.com/in/derick-mccrary-37ab01128/">LinkedIn</a><br>
    <form>
            Name: <br>
                <input type="text" name="ContactName"><br>
            Email Address <br>
                <input type="text" name="EmailAddress"><br>
            Message: <br>
                <input type="textarea" name="Message"><br>
                <input type="submit" value="Submit">
        </form>
</body>
</html>