<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/guestbookIndex">GuestBook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/YourChoice">Your Choice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Contact">Contact</a>
      </li>
    </ul>

  </nav>
</head>

<body>
  <img src="https://instructure-uploads.s3.amazonaws.com/account_74380000000000001/thumbnails/823685/profile_thumb.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJFNFXH2V2O7RPCAA%2F20180131%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20180131T213323Z&X-Amz-Expires=518400&X-Amz-SignedHeaders=host&X-Amz-Signature=3f6f6f74de6b266c00ef946cab2a64fefdb55e5f1fc3aa19d4d03e401ef3449d"
    class="img-circle"></img>
  <img src="https://www.vectorlogo.zone/logos/getbootstrap/getbootstrap-card.png" class="img-responsive"></img>
  <title>Derick McCrary</title>
  <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/x4r7af2Lcmw" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
    <article>
      <section class="section-header">
        <header>Current</header>
        <p>I am currently attending Northwest as a Senior
          <br>in the Computer Science program. I am graduating a semester early, as I arrived with a semester's worth of credits.
          </p>
      </section>
      <section class="section-header">
        <header id="past-section">Background</header>
        <p>I am from Kansas City Missouri, although I have lived in many states. I have worked at many establishments both as
          a software engineer and a standard position that does not require schooling.</p>
      </section>
      <section class="section-header">
        <header id="future-section">Plans</header>
        <p>My future plans include finishing my bachelors, and then beginning work in medical technology. Should I find myself
          with the desire for a harder challenge, I will pursue the necessary steps to join a research team for Quantum Computing.</p>
      </section>
    </article>
    <aside class="aside-header">
      <header>Hobbies</header>
      <p>For hobbies, I enjoy playing my guitars. I have both an acoustic and an electric. I work the night shift at a store
        in town, which leads me to an unconventional schedule. Other hobbies I indulge in are video games, dungeons and dragons,
        and spending time with friends.</p>
    </aside>
    <footer>footer</footer>

    
    <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
          function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
          e = o.createElement(i); r = o.getElementsByTagName(i)[0];
          e.src = '//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
      ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>
  </body>

</html>